<div>
    <!-- <p-button (onClick)="showModalEdit = true" type="button" icon="pi pi-plus" label="Nouveau bien"
        styleClass="p-button-text mb-3"></p-button> -->
    <p-table [loading]="chargement" styleClass="p-datatable-striped p-datatable-gridlines" [resizableColumns]="true"
        [value]="biens" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} enregistrements"
        [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="localisation.site_id">
                    <div class="flex align-items-center">
                        Site
                        <p-sortIcon field="localisation.site_id"></p-sortIcon>
                        <p-columnFilter type="text" field="localisation.site_id" display="menu" matchMode="contains"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                            [showClearButton]="false"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="localisation.code">
                    <div class="flex align-items-center">
                        Code de la localisation
                        <p-sortIcon field="localisation_code"></p-sortIcon>
                        <p-columnFilter type="text" field="localisation_code" display="menu" matchMode="contains"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                            [showClearButton]="false"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="localisation.libelle">
                    <div class="flex align-items-center">
                        Localisation
                        <p-sortIcon field="localisation.libelle"></p-sortIcon>
                        <p-columnFilter type="text" field="localisation.libelle" display="menu" matchMode="contains"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                            [showClearButton]="false"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="code_inventaire.code">
                    <div class="flex align-items-center">
                        Code inventaire
                        <p-sortIcon field="code_inventaire.code"></p-sortIcon>
                        <p-columnFilter type="text" field="code_inventaire.code" display="menu" matchMode="contains"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                            [showClearButton]="false"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="reference">
                    <div class="flex align-items-center">
                        Référence
                        <p-sortIcon field="reference"></p-sortIcon>
                        <p-columnFilter type="text" field="reference" display="menu" matchMode="contains"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                            [showClearButton]="false"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="description">
                    <div class="flex align-items-center">
                        Description
                        <p-sortIcon field="description"></p-sortIcon>
                        <p-columnFilter type="text" field="description" display="menu" matchMode="contains"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                            [showClearButton]="false"></p-columnFilter>
                    </div>
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-immo>
            <tr>
                <td>{{ immo.localisation.site_id }}</td>
                <td>{{ immo.localisation.code }}</td>
                <td>{{ immo.localisation.libelle }}</td>
                <td>{{ immo.code_inventaire.code }}</td>
                <td>{{ immo.reference }}</td>
                <td>{{ immo.description }}</td>
                <td>
                    <p-button [disabled]="chargementSuppr" (onClick)="supprimerBien(immo.id)" type="button"
                        icon="pi pi-trash" [loading]="chargementSuppr"
                        styleClass="p-button-text p-button-danger"></p-button>
                    <p-button (onClick)="showModalEdit = true; obtenirDonneesBien(immo)" type="button"
                        icon="pi pi-pencil" styleClass="p-button-text p-button-info"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- Modal d'édition d'un bien -->
<p-dialog header="Edition d'un bien" [(visible)]="showModalEdit" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="bienForm" (ngSubmit)="enregistrerBien()">
        <div class="grid">
            <div class="col-6">
                <div class="field">
                    <label>Code inventaire</label>
                    <input type="text" formControlName="code_inventaire" pInputText class="block w-full" disabled />
                </div>
            </div>
            <div class="col-6">
                <div class="field">
                    <label>Localisation</label>
                    <p-dropdown styleClass="w-full" [ngModelOptions]="{ standalone: true }" [options]="localisations" [(ngModel)]="selectedLocalisation" optionLabel="libelle"
                        [filter]="true" [showClear]="true" placeholder="Choisir la localisation"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-6">
                <div class="field">
                    <label>Référence</label>
                    <input type="text" formControlName="reference" pInputText class="block w-full" />
                </div>
            </div>
            <div class="col-6">
                <div class="field">
                    <label>Libelle du bien</label>
                    <input type="text" formControlName="libelle" pInputText class="block w-full" />
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-6">
                <div class="field">
                    <label>Service</label>
                    <input type="text" formControlName="service" pInputText class="block w-full" />
                </div>
            </div>
            <div class="col-6">
                <div class="field">
                    <label>Etat</label>
                    <input type="text" formControlName="etat" pInputText class="block w-full" />
                </div>
            </div>
        </div>
        <div class="field">
            <label>Description</label>
            <textarea rows="5" formControlName="description" class="block w-full" pInputTextarea></textarea>
        </div>
        <div class="text-center mt-2">
            <p-button type="button" icon="pi pi-times" label="Annuler" styleClass="p-button-text p-button-danger"
                class="mr-2"></p-button>
            <p-button type="submit" [loading]="chargement" [disabled]="bienForm.invalid || chargement" icon="pi pi-save" label="Enregistrer"></p-button>
        </div>
    </form>
</p-dialog>