<div class="fadein animation-duration-1000 flex flex-column" style="height: 100%;">
    <h3 class="ml-3 text-green-300 mb-1">Importation des données</h3>
    <p-breadcrumb styleClass="border-none p-1" [model]="[{ label: 'Importation' }]"
        [home]="{ label: 'Tableau de bord', icon: 'pi pi-home mr-2', routerLink: '/admin' }"></p-breadcrumb>

    <div class="mt-1 p-3 flex-grow-1">
        <div class="grid" style="height: 100%;">
            <div class="col-4">
                <div>
                    <p-dropdown styleClass="w-full" [options]="tables" [(ngModel)]="selectedTable" optionLabel="nom"
                        [showClear]="true" placeholder="Choisir le type de données"
                        (onChange)="showColumns()"></p-dropdown>
                </div>
                <div class="mt-3">
                    <p-fileUpload [auto]="true" chooseLabel="Charger le fichier" uploadIcon="pi pi-cog mr-2" uploadLabel="Traitement"
                        [showCancelButton]="false" accept=".xls, .xlsx, .csv" m (onRemove)="selectedColumns = []; selectedTable = []; data = []" (onSelect)="onSelect($event)" [disabled]="selectedColumns.length === 0"></p-fileUpload>
                </div>
                <p-button label="Traitement des données" styleClass="mt-3" [disabled]="data.length === 0"></p-button>
            </div>
            <div class="col-8 max-h-full">
                <p-message severity="info" *ngIf="selectedColumns.length === 0" text="Veuillez sélectionner le type de données afin d'afficher le tableau. Merci !"></p-message>
                <div style="height: 400px;" *ngIf="selectedColumns.length !== 0">
                    <p-table [columns]="selectedColumns" [scrollable]="true" scrollHeight="flex" styleClass="p-datatable-striped p-datatable-gridlines" [resizableColumns]="true"
                    [value]="data" [paginator]="false" [rows]="5" [showCurrentPageReport]="true"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} enregistrements"
                    [rowsPerPageOptions]="[5, 10, 20]">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th [pSortableColumn]="col.field" *ngFor="let col of columns">
                                {{ col.header }}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns">
                                {{ data[col.field] }}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                        <p-button type="button" icon="pi pi-save" styleClass="p-button-text"></p-button>
                    </ng-template>
                </p-table>
                </div>
            </div>
        </div>
    </div>
</div>